body {
  font-family: 'Roboto', serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Lobster', cursive;
  src: url(D:\Лучший\school\Fonts\PT_Sans-Narrow-Web-Regular);
}

a.coursive-titles {
	margin: 0;
	padding: 0;
	align-items: center;
}

h1.coursive-titles {
  font-family: 'Lobster';
  vertical-align: middle;
}


h2 {
	font-family: 'Roboto';
}

p {
	padding: 10px;
}

p.news-paragraph {
	font-family: 'Roboto';
}

p.date {
	font-family: 'Roboto';
}

p.all-news {
	font-family: 'Roboto';
}

p.news-paragraph {
    font-size: 17px;
}

p.date {
    font-size: 15px;
}

p.footer-paragraph {
	font-family: 'PT Sans Narrow';
	color: #4B4B4B; 
}

.main-header {
  border-bottom: solid #C3C3C3 2px;
  min-height: auto;
  max-height: 100px;
}

article img{
	border-radius: 10px;
}

nav {
	display: flex;
	justify-content: space-around;
}

.site-navigation {
	display: flex;
	margin: 0;
	align-items: center;
}

.site-navigation-item {
	margin: 10px;
}

.visually-hidden {
	display: none;
}

.advantage-list {
	display: flex;
	justify-content: space-around;
}

.advantage-item {
    margin: 25px;
}

.advantages {
   float: left;
   width: 100%;

}

.news {
	text-align: center;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.all-news {
	text-align: right;
}


.main-footer {
	justify-content: space-between;
	display: flex;
	clear: both;
    border-top: solid #C3C3C3 2px; 
}
ul{
	list-style-type: none;
}

.footer-social {
	display: flex;
	clear: both;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.all {
	margin: 10px;
}

@media and (max-width: 1440px) {
	.site-navigation{
        display: none;
	}
	.site-navigation:focus {
        display: block;
	}
}
