body {
	font-family: 'Noto Serif', serif;
    font-family: 'PT Sans Narrow', sans-serif;
    src: url(D:\Лучший\school\Fonts\PT_Sans-Narrow-Web-Regular);
}

h1, p {
	font-family: 'PT Sans Narrow';
}

p{
    font-size: 20px;
}

article img{
	border-radius: 10px;
}

nav {
	display: flex;
	justify-content: space-around;
}

.site-navigation {
	display: flex;
}

.site-navigation-item {
	margin: 10px;
}

.visually-hidden {
	display: none;
}

.advantage-list {
	display: flex;
	justify-content: space-around;
}

.advantage-item {
    margin: 25px;
}

.advantages {
   float: left;
   width: 100%;
   background-color: wheat;

}

.news {
	background-color: skyblue;
	float: left;
	width: 100%;
}

.contacts {
	background-color: green;
	width: 100%;
	clear: both;
}

.main-footer {
	justify-content: space-between;
	display: flex;
}
ul{
	list-style-type: none;
}

.footer-social {
	display: flex;
}

a {
	text-decoration: none;
	color: black;
}

a: hover {
	text-decoration: underline;
}