body {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Lobster', cursive;
  src: url(D:\Лучший\school\Fonts\PT_Sans-Narrow-Web-Regular);
}

h1{
  margin: 0;
}

.main-navigation {
	display: flex;
	align-items: center;
}


.coursive-titles {
  font-family: 'Lobster';
  margin-top: 40%;
  margin-bottom: 40%;
  margin: 0;
  padding: 0;
}

p {
  padding: 10px;
}

.footer-paragraph {
  font-family: 'PT Sans Narrow';
  color: #4B4B4B; 
}

.main-header {
  border-bottom: solid #C3C3C3 2px;
  min-height: 80px;
}

.site-navigation-item {
  margin: 10px;
}

.main-footer {
  justify-content: space-between;
  display: flex;
  clear: both;
  border-top: solid #C3C3C3 2px; 
}

.site-navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  min-height: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.footer-social {
	display: flex;
	clear: both;
}

ul{
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

/*Starting of main*/
main {
	margin-left: 10px;
	margin-right: 10px;
}

.mission {
	text-align: left;
	float: left;
	width: 48%;
}

.info-paragraph {
	font-family: 'Roboto', serif;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}
.info-title {
	font-family: 'Roboto', serif;
	text-align: left;
}

.features {
	text-align: left;
	float: right;
	width: 48%;
}

.slogan {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	clear: both;
	width: 100%;
	height: 20%;

}

.aim-list {
	text-align: left;
}

.aim-paragraph {
	margin-bottom: 15px;
	font-size: 15px;
}

.aim-topic {
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 20px;
}

.mission,.features {
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 20%;
}

.info-title-slogan {
	font-family: 'Roboto', serif;
	text-align: center;
}

.aims {
	margin-top: 25px;
}

.mission-title {
	display: flex;
	align-items: center;
}